<div>
		<%= link_to "Editar", edit_apointment_path(@apointment), class:"btn be-red white" %>
	</div>
<h1><%= @apointment.nombreCita %></h1>
	<div>
		<%= @apointment.fechaCita %>
	</div>
	<div>
		<%= @apointment.lugarCita %>
	</div>
	